---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dilaaaapflask
  labels:
        username: dilaaaap
        env: test
    app: dilaaaap-test-flask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dilaaaap-test-flask
  template:
    metadata:
      labels:
        app: dilaaaap-test-flask
    spec:
      containers:
        - name: dilaaaaplask
          imagePullPolicy: Always
          image: jstubbs/hello-flask

